body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    z-index: -1;
}

.shop-title {
    font-size: 50px;
    margin-top: 40px;
}

.shop-grid {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.shop-card {
    background: rgba(17,17,17,0.9);
    border: 2px solid #c7ff00;
    border-radius: 18px;
    padding: 20px;
}

.photo-box {
    height: 180px;
    background: #222;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7ff00;
    font-weight: bold;
}

button {
    background: #c7ff00;
    color: black;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 700px) {
    .shop-grid {
        grid-template-columns: 1fr;
    }
}
